{% extends 'blogs/base.html' %}

{% block title %}Детали книги{% endblock %}

{% block content %}
{% include 'blogs/header.html' %}
<div class="container mt-5">
<h2>{{ content.title }}</h2>
<img src="{{ content.preview.url }}" alt="{{content.title}}">
<p>Дата публикации: {{ content.create_at|date:"d M Y" }}</p>
<p>Количество просмотров: {{ content.views_count }}</p>
<a href="#" class="btn btn-secondary">Редактировать</a>
<a href="#" class="btn btn-primary">Вернуться к списку</a>
</div>
{% endblock %}