{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="row mt-5">
    {% for product in products %}
    <div class="col-4">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center"><font face="impact">{{product.name}}</font></h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center fw-bold">{{product.price}} руб.</h2>
                        <p class="card-text text-center">{{product.description|truncatechars:100}}</p>
                        <a href="#" class="btn btn-outline-primary w-100"><font face="impact">Купить</font></a>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
