{% extends 'catalog/base.html' %}

{% block title %}Продукты категории {{ category.name }}{% endblock %}

{% block content %}
<h1>Продукты категории: {{ category.name }}</h1>

{% if products %}
    <ul>
    {% for product in products %}
        <li><a href="{% url 'catalog:product_details' product.pk %}">{{ product.name }} — {{ product.price }} ₽</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>В этой категории пока нет продуктов.</p>
{% endif %}

<a href="{% url 'catalog:home' %}">Вернуться на главную</a>
{% endblock %}