{% extends 'catalog/base.html' %}

{% block title %}Информация о продуктах{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Информация о продукте</h1>
    <p> Фотография: <img src='{{ product.image }}' alt="{{ product.name }}"></p>
    <p>{{ product.name }}</p>
    <p>{{ product.category }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.description }}</p>
    <a href="{% url 'catalog:update_product' product.pk %}" class="btn btn-secondary">Редактировать</a>
</div>
{% endblock %}

